<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-audioinput-mfcc"
        version="0.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Audio Capture MFCC</name>
    <description>This cordova plugin enables audio capture from the device microphone, by in (near) real-time forwarding raw audio data to the web layer of your web application. Additionally may calculate and export the Mel Based coefficients</description>
	<author>Alberto Inuggi</author>
	<license>MIT</license>
    <keywords>cordova,phonegap,media,microphone,mic,input,audio,waapi,audionode,web,audio,api,audionode,capture,ios,android</keywords>
    <repo>https://gitlab.iit.it/AllSpeak/cordova-plugin-audioinput-mfcc.git</repo>
    <issue>https://gitlab.iit.it/AllSpeak/cordova-plugin-audioinput-mfcc/issues</issue>

    <js-module name="AudioInput" src="www/audioInputMfcc.js">
        <clobbers target="audioinput" />
    </js-module>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <!-- android -->
    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AudioInputCaptureMFCC">
                <param name="android-package" value="com.allspeak.AudioInputMfccPlugin" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>

        <source-file src="src/android/com/allspeak/AudioInputMfccPlugin.java" target-dir="src/com/allspeak" />
        <source-file src="src/android/com/allspeak/audiocapture/AudioInputCapture.java" target-dir="src/com/allspeak/audiocapture" />
        <source-file src="src/android/com/allspeak/audiocapture/AudioInputReceiver.java" target-dir="src/com/allspeak/audiocapture" />
        <source-file src="src/android/com/allspeak/audiocapture/CFGParams.java" target-dir="src/com/allspeak/audiocapture" />
        <source-file src="src/android/com/allspeak/audioprocessing/FFT.java" target-dir="src/com/allspeak/audioprocessing" />
        <source-file src="src/android/com/allspeak/audioprocessing/WavFile.java" target-dir="src/com/allspeak/audioprocessing" />
        <source-file src="src/android/com/allspeak/audioprocessing/mfcc/MFCC.java" target-dir="src/com/allspeak/audioprocessing/mfcc" />
        <source-file src="src/android/com/allspeak/audioprocessing/mfcc/MFCCHandlerThread.java" target-dir="src/com/allspeak/audioprocessing/mfcc" />
        <source-file src="src/android/com/allspeak/audioprocessing/mfcc/MFCCCalcJAudio.java" target-dir="src/com/allspeak/audioprocessing/mfcc" />
        <source-file src="src/android/com/allspeak/audioprocessing/mfcc/MFCCParams.java" target-dir="src/com/allspeak/audioprocessing/mfcc" />
        <source-file src="src/android/com/allspeak/utility/StringUtility.java" target-dir="src/com/allspeak/utility/" />   
        <source-file src="src/android/com/allspeak/utility/TrackPerformance.java" target-dir="src/com/allspeak/utility/" />   

    </platform>

    <!-- ios -->
<!--    <platform name="ios">

        <config-file parent="/*" target="config.xml">
            <feature name="AudioInputCapture">
                <param name="ios-package" value="CDVAudioInputCapture" />
            </feature>
        </config-file>

        <source-file src="src/ios/CDVAudioInputCapture.m" />
        <source-file src="src/ios/AudioReceiver.h" />
        <source-file src="src/ios/AudioReceiver.m" />

        <framework src="Accelerate.framework" weak="true" />
        <framework src="CoreAudio.framework" weak="true" />
        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />

    </platform>-->

</plugin>
